.services{
     background-color: #F6F6F6;
            h2{
                text-align: center;
                padding-top: 50px;
            }
        p{
            text-align: center;
            
        }
        }
.img3{
    p{
        padding:20px;
    
    }
}

    
