.contactus{
    border: 1px solid #E7E7E7;
    // margin-top: 300px;

    

    .contactDiv{
        margin-top: 100px;

    }

    button{
        background-color: #001D3D;
        color:white;
    }
}
