.footer{

    padding:10px;
    background-color: #F6F6F6;


    .menu {
        ul{
            list-style: none;
        }
    }

    // .footermenu{
    
           
    //         list-style: none;

          

    // }

    .socialDiv {
   
        ul{
            list-style: none;
            display: flex;
        
        li{
            padding: 10px;;
        }
             
         
           }
         }
        
    }
        
   
