.footer{

    padding:10px;
    background-color: #F6F6F6;
.socialDiv{
   
    .nav{
        ul li{
            display:inline;
            list-style: none;
            padding: 10px;
        }

        
    }
}
}