.featured{
    display: inline;
    width: 10px;
    padding: 100px;

    h3{
        text-align: center;
    
    }

    
        img{
        margin-left: 50px;
        margin-top: 80px;
        width: 200px;
        }

        p{
           text-align: center;
        }

        

.para1{
    align-content: center;
}

}